body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.header {
    text-align: center;
    background-color: rgb(64, 64, 214);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Permanent Marker', cursive;
}

.form-div {
    text-align: center;
    margin-top: 2rem;
}

input {
    width: 20rem;
    height: 26px;
}

.container {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.movie-card {
    margin: auto;
    width: 500px;
    border-radius: 16px;
    box-shadow: 4px 4px 6px 6px lightgray;

}

.card-title {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.card-year {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.card-about {
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.card-image {
    margin-left: 6rem;
    margin-bottom: 1rem;
}

.copyright {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: gray;
    opacity: 0.5;
}

@media (max-width: 500px) {
    .movie-card {
        margin: auto;
        width: 300px;
    }

    .card-image {
        width: 250px;
        margin-left: 1.5rem;
        margin-bottom: 1rem;
    }
}