body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.header {
    text-align: center;
    background-color: rgb(64, 64, 214);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Permanent Marker', cursive;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.movie-card {
    width: 500px;
    border-radius: 16px;
    box-shadow: 4px 4px 6px 6px lightgray;

}

.card-title {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.card-year {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.card-about {
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.card-image {
    margin-left: 6rem;
    margin-bottom: 1rem;
}

.copyright {
    margin-bottom: 2em;
    text-align: center;
    color: gray;
    opacity: 0.5;
}